# Ignore setup.py (if you don't want to track it)
setup.py

# Ignore dist/ folder and its contents
dist/
*.egg-info/

# Ignore the temp folder
temp/

# Ignore log files
*.log

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore environment files
.env

#Saas
saas.py
19-03-II-Backup-model.py
19-03-III-Backup-model.py
formula-model.py
interpolate-model.py
